{% extends "layout.html.twig" %}

{% block content %}

    <div class="hero-unit">
        <h1>Bienvenue</h1>
        <p>
            Ce site à pour vocation de vous présentez toutes les soirées de vos villes préférées.
        </p>
        <p><a href="#" class="btn btn-primary btn-large">Learn more »</a></p>
    </div>

    <div class="row">
        <div class="span6">
            <h2>Soirées à venir</h2>
            <ul>
                <li><a href="#">Soirée infirmières</a> - <em>le 14/02/2013</em></li>
                <li><a href="#">Soirée infirmières</a> - <em>le 14/02/2013</em></li>
                <li><a href="#">Soirée infirmières</a> - <em>le 14/02/2013</em></li>
                <li><a href="#">Soirée infirmières</a> - <em>le 14/02/2013</em></li>
                <li><a href="#">Soirée infirmières</a> - <em>le 14/02/2013</em></li>
            </ul>

            <p><a class="btn" href="#">Voir toutes les soirées »</a></p>
        </div>
        <div class="span6">
            <h2>Derniers lieux ajoutées</h2>
            <ul>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
            </ul>

            <p><a class="btn" href="#">Voir tous les lieux »</a></p>
        </div>
    </div>

{% endblock %}