{% extends "layout.html.twig" %}

{% block content %}

    <div class="row">
        <div class="span7">
            <h1>Tous les lieux</h1>
        </div>
    </div>

    <div class="row">
        <div class="span7">
            <ul>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
            </ul>
        </div>
        <div class="span5">
            <form class="form-horizontal">
                <fieldset>
                    <legend>Ajouter un lieu</legend>
                    
                    <div class="control-group">
                        <label class="control-label" for="name">Nom</label>
                        <div class="controls">
                            <input type="text" id="name" name="name" placeholder="Nom du lieu..." required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="street">Rue</label>
                        <div class="controls">
                            <input type="text" id="street" name="street" placeholder="Rue du lieu..." required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="zip_code">Code postal</label>
                        <div class="controls">
                            <input type="text" id="zip_code" name="zip_code" placeholder="Code postal du lieu..." required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="city">Ville</label>
                        <div class="controls">
                            <input type="text" id="city" name="city" placeholder="Ville du lieu..." required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="country">Pays</label>
                        <div class="controls">
                            <input type="text" id="country" name="country" placeholder="Pays du lieu..." required>
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="phone">Téléphone</label>
                        <div class="controls">
                            <input type="text" id="phone" name="phone" placeholder="Téléphone du lieu...">
                        </div>
                    </div>

                    <div class="control-group">
                        <label class="control-label" for="description">Présentation</label>
                        <div class="controls">
                            <textarea id="description" rows="3" name="description" placeholder="Présentation du lieu..."></textarea>
                        </div>
                    </div>

                    <div class="form-actions">
                        <button type="submit" class="btn btn-primary">Ajouter</button>
                        <button type="button" class="btn">Annuler</button>
                    </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}