{% extends "layout.html" %}
{% set active = "administration" %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>{{ 'Comments manager'|trans }}</h1>

            <table class="table table-bordered table-striped">
                <thead>
                    <tr>
                        <th>
                            Username
                        </th>
                        <th>
                            Body
                        </th>
                        <th>
                            Created at
                        </th>
                        <th>
                            Actions
                        </th>
                    </tr>
                </thead>
                <tbody>
                    {% for comment in comments %}
                        <tr>
                            <td>
                                {{ comment.username }}
                            </td>
                            <td>
                                {{ comment.body }}
                            </td>
                            <td>
                                {{ comment.createdAt|date(timezone="Europe/Paris", 'd/m/Y H:i') }}
                            </td>
                            <td>
                                <a href="{{ path('admin_comment_get', {id: comment.id }) }}" class="btn btn-mini"><i class="icon-pencil"></i> Modifier</a>
                                <form method="POST" action="{{ path('admin_comment_delete', {id: comment.id }) }}">
                                    <input type="hidden" name="_method" value="DELETE">
                                    <button type="submit" class="btn btn-danger btn-mini"><i class="icon-remove icon-white"></i> Supprimer</button>
                                </form>
                            </td>
                        </tr>
                    {% else %}
                        <tr>
                            <td colspan="4">
                                <em>Aucun commentaire actuellement.</em>
                            </td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    </div>

{% endblock %}