{% extends "layout_admin.html" %}
{% set active = "parties" %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>{{ 'Parties manager'|trans }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="span12">
            <form action="{{ path('admin_party_update', {id: party.id }) }}" method="POST" novalidate {{ form_enctype(form) }} class="form-horizontal">
                <fieldset>
                    <legend>{{ 'Update the party'|trans }}</legend>
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <input type="hidden" name="_method" value="PUT">
                            <button type="submit" class="btn btn-primary">{{ 'Update'|trans }}</button>
                            <a href="{{ path('admin_parties_get') }}" class="btn">{{ 'Cancel'|trans }}</a>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}