{% extends "layout.html" %}
{% set active = "locations" %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>Tous les lieux</h1>
        </div>
    </div>

    <div class="row">
        <div class="span7">
            <ul>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
                <li><a href="#">Clermont-Ferrand</a></li>
            </ul>
        </div>

        <div class="span5">
            <form action="{{ path('location_post') }}" method="POST" novalidate {{ form_enctype(form) }} class="form-horizontal">
                <fieldset>
                    <legend>Ajouter un lieu</legend>
                        {{ form_widget(form) }}
                        <div class="form-actions">
                            <button type="submit" class="btn btn-primary">{{ 'Add'|trans }}</button>
                        </div>
                </fieldset>
            </form>
        </div>
    </div>

{% endblock %}