{% extends "layout.html" %}
{% set active = "locations" %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>{{ location.name }}</h1>
        </div>
    </div>

    <div class="row">
        <div class="span4">
            {{ location.adress }}<br />
            {{ location.zipCode }}<br />
            {{ location.city }}<br />
            {% if location.phone is null %}Non renseigné{% else %}{{ location.phone }}{% endif %}<br />
            {% if location.description is null %}Non renseignée{% else %}{{ location.description }}{% endif %}
        </div>
        <div class="span4">
            <h2>Soirée</h2>
        
        </div>
        <div class="span4">
            <h2>Commentaires</h2>

        </div>
    </div>

{% endblock %}