{% extends "layout.html" %}
{% set active = "parties" %}

{% block content %}

    <div class="row">
        <div class="span12">
            <h1>Toutes les soirées</h1>

            <ul>
                {% for party in parties %}
                    <li><a href="{{ path('party_get', {id: party.id}) }}">{{ party.name }}</a> - {{ party.date|date(timezone="Europe/Paris", 'd/m/Y H:i') }}</li>
                {% else %}
                    <li>{{ 'No party'|trans }}</li>
                {% endfor %}
        </div>
    </div>

{% endblock %}